* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	font-size: 1.2rem;
	padding: 3rem;
	font-family: Montserrat;
	min-width: 350px;
	max-width: 450px;
}

[v-cloak] {
	display: none;
}

.box {
	display: flex;
	justify-content: center;

	&--info-about-messages {
		font-size: .8rem;
		.list {
			padding: .5rem 0;
			list-style-type: none;
			&__item {
				margin: .5rem 0;
			}
		}
	}

	&--message-bot-buttons {
		justify-content: space-between;
	}
}

.button {
	font-size: 1.35rem;
	font-weight: 300;

	background: #7100e3;
	color: #ff681b;
	border-radius: 3px;
	padding: .3rem 2rem;
	outline: none;
	cursor: pointer;

	box-shadow: 2px 2px 5px rgba(0, 0, 0, .6);

	transition: all ease-in-out 250ms;

	&:hover {
		background-color: lighten(#7100e3, 10%);
		transform: translateY(-2px);
	}

	&--transparent {
		background: transparent;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0;
		border: 0;
		box-shadow: none;
		color: $violet;
		font-size: 12px;

		&:hover {
			background-color: transparent;
		}

		&:hover .img {
			animation-name: jumpingArrow;
			animation-duration: 1200ms;
			animation-iteration-count: infinite;
		}

		.img {
			max-width: 25px;
		}
	}
}

.img {
	&--loading {
		height: 15px;
		filter: invert(100%);
		animation-name: loadingImg;
		animation-timing-function: linear;
		animation-duration: 1200ms;
		animation-iteration-count: infinite;
	}

	@keyframes loadingImg {
		0% {
			transform: rotateZ(0);
		}

		100% {
			transform: rotateZ(360deg);
		}
	}
}

.button_active {
	background-color: #ff681b;
	border: 1px solid #7100e3;
	color: #7100e3;

	box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
}

.input-text {
	font-size: 1.35rem;
	font-weight: 300;
	height: 27px;
	color: $dark_gray;
	padding: 0 10px;
	border-radius: 2px;
	border: 1px solid $dark_gray;
	outline: none;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
}

.textarea {
	height: 150px;
	width: 80%;
	margin-right: .5rem;
	padding: .5rem;
	outline: none;
	border: 1px solid #7100e3;
	resize: none;
	transition: border ease-in-out 400ms;

	&:focus {
		border: 1px solid #ff681b;
	}
}
