.main {
	&--popup {
		.header {
			@include big-space-vertical;
			text-decoration: underline;
		}

		.message-bot {
			.saved-message {
				display: flex;
				justify-content: space-between;
				width: 100%;
				@include small-space-bottom;

				&__item {
				}
			}
		}
	}
}
