@keyframes jumpingArrow {
  100% {
    transform: translateY(3px); } }

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s; }

.fade-enter,
.fade-leave-to {
  opacity: 0; }

.bottom-line {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ff681b; }

.medium-space {
  margin: .7rem 0; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-size: 1.5rem;
  padding: 3rem;
  font-family: Montserrat;
  min-width: 350px; }

[v-cloak] {
  display: none; }

.button {
  font-size: 1.35rem;
  font-weight: 300;
  background: #7100e3;
  color: #ff681b;
  border-radius: 3px;
  padding: .5rem 2rem;
  outline: none;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  transition: all ease-in-out 250ms; }
  .button:hover {
    background-color: #8a17ff;
    transform: translateY(-2px); }

.button_active {
  background-color: #ff681b;
  border: 1px solid #7100e3;
  color: #7100e3;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); }

.input-text {
  font-size: 1.35rem;
  font-weight: 300;
  height: 27px;
  color: #424242;
  padding: 0 10px;
  border-radius: 2px;
  border: 1px solid #424242;
  outline: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); }

.textarea {
  height: 150px;
  width: 80%;
  margin-right: .5rem;
  padding: .5rem;
  outline: none;
  border: 1px solid #7100e3;
  resize: none;
  transition: border ease-in-out 400ms; }
  .textarea:focus {
    border: 1px solid #ff681b; }

.main-header {
  margin-bottom: 2rem;
  color: #7100e3;
  text-shadow: 2px 2px 5px #ff681b, 2px 2px 7px rgba(0, 0, 0, 0.5); }
  .main-header__title {
    cursor: pointer; }
  .main-header .navigation {
    margin: 1rem 0; }
    .main-header .navigation__list {
      list-style-type: none;
      display: flex; }
      .main-header .navigation__list .item {
        margin: 0 .5rem;
        transition: transform ease-in-out 200ms; }
        .main-header .navigation__list .item:hover {
          transform: rotateZ(-3deg) scale(1.1); }

.main--popup .header {
  margin: 3rem 0;
  text-decoration: underline; }

.main--popup .set-name {
  display: flex;
  flex-direction: column; }
  .main--popup .set-name .small-info {
    font-size: 10px; }
  .main--popup .set-name .button--show-name-setter {
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: 0;
    box-shadow: none;
    color: #7100e3;
    font-size: 12px; }
    .main--popup .set-name .button--show-name-setter:hover .img {
      animation-name: jumpingArrow;
      animation-duration: 800ms;
      animation-iteration-count: infinite; }
    .main--popup .set-name .button--show-name-setter .img {
      max-width: 25px; }

.main--popup .box {
  display: flex;
  justify-content: center; }
  .main--popup .box--info-about-messages {
    font-size: .8rem; }
    .main--popup .box--info-about-messages .list {
      padding: .5rem 0;
      list-style-type: none; }
      .main--popup .box--info-about-messages .list__item {
        margin: .5rem 0; }

.main--popup .like-bot__speed {
  display: flex;
  justify-content: space-between; }
  .main--popup .like-bot__speed span {
    cursor: pointer; }

.main--popup .like-bot__progress-bar {
  width: 100%; }

.main--popup .message-bot .saved-message {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem; }
