@mixin small-space-vertical {
    margin: 1rem 0;
}

@mixin medium-space-vertical {
    margin: 2rem 0;
}

@mixin big-space-vertical {
    margin: 3rem 0;
}

@mixin small-space-bottom {
    margin-bottom: 1rem;
}

@mixin medium-space-bottom {
    margin-bottom: 2rem;
}

@mixin big-space-bottom {
    margin-bottom: 3rem;
}