.main-header {
    @include medium-space-bottom;
    color: $violet;
    text-shadow: 2px 2px 5px $orange, 2px 2px 7px rgba(#000, .5);
}

.main {
    &--popup {
        .header {
            @include big-space-vertical;
            text-decoration: underline;
        }

        .box {
            display: flex;
            justify-content: center;
        }

        .like-bot {
            &__speed{
                display: flex;
                justify-content: space-between;

                span {
                    cursor: pointer;
                }
            }


            &__progress-bar {
                width: 100%;
            }
        }
    }
}