.main-header {
	@include medium-space-bottom;
	color: $violet;
	text-shadow: 2px 2px 5px $orange, 2px 2px 7px rgba(#000, .5);

	&__title {
		cursor: pointer;
	}

	.navigation {
		@include small-space-vertical;

		&__list {
			list-style-type: none;
			display: flex;

			.item {
				margin: 0 .5rem;
				transition: transform ease-in-out 200ms;
				&:hover {
					transform: rotateZ(-3deg) scale(1.1);
				}
				.link {
				}
			}
		}
	}
}

.main {
	&--popup {
		.header {
			@include big-space-vertical;
			text-decoration: underline;
		}

		.box {
			display: flex;
			justify-content: center;

			&--info-about-messages {
				font-size: .8rem;
				.list {
					padding: .5rem 0;
					list-style-type: none;
					&__item {
						margin: .5rem 0;
					}
				}
			}
		}

		.like-bot {
			&__speed {
				display: flex;
				justify-content: space-between;

				span {
					cursor: pointer;
				}
			}

			&__progress-bar {
				width: 100%;
			}
		}

		.message-bot {
			.saved-message {
				display: flex;
				justify-content: space-between;
				width: 100%;
				@include small-space-bottom;

				&__item {
				}
			}
		}
	}
}
